*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: white;
  }
  *::-webkit-scrollbar{
    width: 0px;
  }
  body{
    background: rgb(68, 134, 255);
  }

  /* Navbar design */
  nav{
    background: rgb(1, 71, 170);
  }
  nav ul li{
    font-size: 20px;
    padding: 20px 30px;
  }

  /* Game board design */
  .gameContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
  }
  .box{
    display: flex;
    border: 2px solid white;
    font-size: 6vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .box:hover{
    background: rgb(94, 147, 255);
  }

  /* Game info designs */
  .gameInfo h1{
    font-size: 50px;
  }
  .gameInfo div{
    padding-top: 50px;
  }
  .info{
    font-size: 2vw;
  }
  #reset{
    background: rgb(1, 71, 170);
    padding: 1vw 2vw;
    font-size: 1.5vw;
    margin-left: 3vw;
    border-radius: 1vw;
    cursor: pointer;
  }
  #reset:hover{
    background: rgb(4, 85, 200);
  }

  /* Responsive design */
  @media screen and (max-width: 1070px){
    .gameInfo h1{
      font-size: 30px;
    }
  }
  @media screen and (max-width: 800px){
    .gameContainer{
      flex-wrap: wrap;
    }
    .gameInfo{
      margin-top: 34px;
    }
    .gameInfo div{
      padding-top: 20px;
    }
  }
  @media screen and (max-width: 500px){
    .gameInfo h1{
      font-size: 20px;
    }
    .info{
      font-size: 15px;
    }
    #reset{
      font-size: 12px;
      border-radius: 6px;
    }
  }